<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Servidor" value="alejo-portatil" />
    <add key="BD" value="arrend_arrendadora" />
    <add key="BDAccess" value="arrendadora.mdb" />
    <add key="PathDatosAccess" value="BDArrendadora" />
    <add key="ConectarA" value="Access" />
  </appSettings>

</configuration>